doctype html
html(lang='en',ng-app='App')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title = {{ title }}
    //Online Css
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(href="http://fonts.googleapis.com/css?family=Varela+Round", rel="stylesheet", type="text/css")
    // Mobile Metas
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/todoapp/css/bootstrap.css')
    link(rel='stylesheet', href='/todoapp/css/bootstrap.min.css')
    link(rel='stylesheet', href='/todoapp/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/todoapp/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/todoapp/stylesheets/style.css')
    
    //END OF STYLE LINKS
  body
    .body
        .container
            block content

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='todoapp/bower_components/jquery/dist/jquery.js')
    script(src='todoapp/js/bootstrap.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js")
    // Include all compiled plugins (below), or include individual files as needed
    //- script(src='todoapp/javascripts/custom.js')
    //- script(src='todoapp/javascripts/custom2.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
    // Bower Component Additions
    script(src='todoapp/bower_components/angular/angular.js')
    script(src='todoapp/bower_components/angular-route/angular-route.js')
    script(src='todoapp/bower_components/oclazyload/dist/ocLazyLoad.js')
    script(src='todoapp/javascripts/main.js')
